In [ ]:
Question 1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b() # c(a) is called with a currently being 0 ; c(a) returns 0 + 2 = 2; a = 2.

In [3]:
b() #c(a) is called with a being 2; c(a) returns 2 + 2 = 4 ; a = 4

In [4]:
b() #c(a) is called with a being 4; c(a) returns 4 + 2 = 6; a = 6

In [5]:
a

6

In [ ]:
Question 2

In [6]:
def fileLength(filename):
    try:
        with open(filename, 'r') as content:
            
            file_content = content.read()
            return len(file_content)
        
    except FileNotFoundError:
        return f'Sorry File {filename} is not found.'

print(fileLength('/Users/yaazhinimurugavel/Downloads/Filelength (1).txt')) # will print the length of the file 

print(fileLength('idterm.py'))   # will print 'Sorry File idterm.py is not found.'

123
Sorry File idterm.py is not found.

In [ ]:
Question 3

In [3]:
class Marsupial:
    
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [11]:
class Kangaroo(Marsupial):

    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, fx, fy):
        self.x =self.x+ fx
        self.y =self.y+ fy

    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'


k = Kangaroo(0,0)
print(k) 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [ ]:
Question 4

In [5]:
def collatz(x):
    
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2) 
    else:
        collatz(3 * x + 1)
        
collatz(1)

collatz(10)

1
10
5
16
8
4
2
1

In [ ]:
Question 5

In [6]:
def binary(n):
    if n == 0:
        
        return '0'
    elif n == 1:
        
        return '1'
    else:
        return binary(n // 2) + str(n % 2)
print(binary(0))  
print(binary(1))  
print(binary(3)) 
print(binary(9))

0
1
11
1001

In [ ]:
Question 6

In [12]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):


    def handle_starttag(self, tag, attributes):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.heading_level = int(tag[1])

    
    def handle_data(self, data):
        if hasattr(self, 'heading_level'):
            indent_spaces = ' ' * (self.heading_level - 1)
            print(indent_spaces + data)
            del self.heading_level


with open('/Users/yaazhinimurugavel/Downloads/w3c (1).html', 'r') as html_file:
    html_content = html_file.read()
    parser = HeadingParser()
    parser.feed(html_content)

W3C Mission
 Principles

In [ ]:
Question 7

In [9]:
def webdir(url, depth, indent):
    web = {
        'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html': [
            'http://reed.cs.depaul.edu/lperkovic/csc242/test2.html',
            'http://reed.cs.depaul.edu/lperkovic/csc242/test3.html'
        ],
        'http://reed.cs.depaul.edu/lperkovic/csc242/test2.html': [
            'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html'
        ],
        'http://reed.cs.depaul.edu/lperkovic/csc242/test3.html': [
            'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html'
        ],
        'http://reed.cs.depaul.edu/lperkovic/csc242/test4.html': []
    }

    if depth < 0:
        return
    print(' ' * indent + url)
    
    if url in web:
        for linked_url in web[url]:
            webdir(linked_url, depth - 1, indent + 1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
  http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [ ]:
Question 8

In [14]:
#The table name is referred as 'data'

import sqlite3
conn = sqlite3.connect('trial.db')
conn.execute('''
CREATE TABLE IF NOT EXISTS data(city text, 
                      country text, 
                      season integer, 
                      temperature integer,
                      rainfall integer);''')
conn.commit()
my_cur = conn.cursor()
conn.execute("INSERT INTO data VALUES('Mumbai', 'India', 'Winter', 24.8, 5.9);")
conn.execute("INSERT INTO data VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);")
conn.execute("INSERT INTO data VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);")
conn.execute("INSERT INTO data VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);")
conn.execute("INSERT INTO data VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);")
conn.execute("INSERT INTO data VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6 );")
conn.execute("INSERT INTO data VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);")
conn.execute("INSERT INTO data VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);")
conn.execute("INSERT INTO data VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);")
conn.execute("INSERT INTO data VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);")
conn.execute("INSERT INTO data VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);")
conn.execute("INSERT INTO data VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5);")

my_cur.execute("SELECT temperature from data")
result =my_cur.fetchall() 
for a in result:
  print("a.)", a, end="")

print()
my_cur.execute("SELECT DISTINCT(city) from data")
result = my_cur.fetchall() 
for a in result:
  print("b.)" , a, end="")

print()
my_cur.execute("SELECT * from data where country = 'India'")
result = my_cur.fetchall()
for a in result:
  print("c.)" , a, end="")

print()
my_cur.execute("SELECT * from data where season = 'Fall'")
result = my_cur.fetchall()
for a in result:
  print("d.)", a, end="")

print()
my_cur.execute("SELECT city,country,season from data where rainfall BETWEEN 200 and 400")
result = my_cur.fetchall() 
for a in result:
  print("e.)", a, end="")

print()
my_cur.execute("SELECT city,country from data where (season = 'Fall' and temperature > 20) Order BY temperature ASC ")
result = my_cur.fetchall()
for a in result:
  print("f.)", a, end="")

print()
my_cur.execute("SELECT sum(rainfall) from data where city = 'Cairo'")
result = my_cur.fetchall()
for a in result:
  print("g.)", a, end="")

print()
my_cur.execute("SELECT season, sum(rainfall) from data group by season")
result = my_cur.fetchall()
for a in result:
  print('h.)', a , end="")

conn.close()

a.) (24.8,)a.) (28.4,)a.) (27.9,)a.) (27.6,)a.) (4.2,)a.) (8.3,)a.) (15.7,)a.) (10.4,)a.) (13.6,)a.) (20.7,)a.) (27.7,)a.) (22.2,)
b.) ('Mumbai',)b.) ('London',)b.) ('Cairo',)
c.) ('Mumbai', 'India', 'Winter', 24.8, 5.9)c.) ('Mumbai', 'India', 'Spring', 28.4, 16.2)c.) ('Mumbai', 'India', 'Summer', 27.9, 1549.4)c.) ('Mumbai', 'India', 'Fall', 27.6, 346)
d.) ('Mumbai', 'India', 'Fall', 27.6, 346)d.) ('London', 'United Kingdom', 'Fall', 10.4, 218.5)d.) ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
e.) ('Mumbai', 'India', 'Fall')e.) ('London', 'United Kingdom', 'Winter')e.) ('London', 'United Kingdom', 'Fall')
f.) ('Cairo', 'Egypt')f.) ('Mumbai', 'India')
g.) (27.6,)
h.) ('Fall', 569.0)h.) ('Spring', 192.29999999999998)h.) ('Summer', 1706.5)h.) ('Winter', 230.1)

In [ ]:
Question 9

In [10]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


upper_case = [word.upper() for word in words]


lower_case = [word.lower() for word in words]


word_lengths = [len(word) for word in words]


word_specs = [[word.upper(), word.lower(), len(word)] for word in words]

char_of_4_or_more = [word for word in words if len(word) >= 4]

print("a)", upper_case)
print("b)", lower_case)
print("c)", word_lengths)

print("d)", word_specs)
print("e)", char_of_4_or_more)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']